@import url('https://fonts.googleapis.com/css?family=Abel');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

}

* {
  box-sizing: border-box;
}
p{
  line-height: 30px;
  font-size: 18px;
  text-align:justify;
}
a {
  color:  #1d5d7b;
  font-weight: bold;
}

header {
background-image: url(http://www.csszengarden.com/214/contours@2x.png),
                                      url(http://www.csszengarden.com/214/noise.png),
                                      url(http://www.csszengarden.com/214/gridlines.png),
                                      url(http://www.csszengarden.com/214/huntington.jpg) ;
        background-size: auto, auto, auto,  cover;
        background-repeat: repeat, repeat, repeat, no-repeat;
       height: 200px;
        padding-left: 50px;
      padding-top: 50px;
      margin-bottom: 30px;
      width: 100%;
}

.page-wrapper {
  position: relative;
}
.viewdesign {
  border: 1px solid black;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
margin-top: 70px;
margin-left: 10% ;

}

.viewarrow {
  border: 1px solid black;
    width: 20%;
    text-align: center;
    margin-top: -50px;
margin-left: 70%;

}

header h1 {
  font-size: 72px;
  font-family: 'Abel', sans-serif;
  margin-left: 160px;
  margin-bottom: 3px;
  color: #fff;
  text-transform: uppercase;
margin-top: -100px;
}

header img {
  width: 100px;
  height: 100px;
  margin-left:50px;
}



header h2 {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 80px;
font-weight: 100;
  font-style: italic;
  color: #fff;
  margin-left: 160px;
}
* {
  box-sizing: border-box;
}

i {
  margin-right: 5px;
}

.summary, .preamble, .explanation {
  width: 70%;
padding-left: 10%;
}

.summary a {
  padding: 10px;
  color: #000;
}

.summary a:hover {
  background:RED;
  border-radius: 5px;
  color: #000;
}

h3 {
  color:#A9A9A9;
  margin:20px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size:24px;
  margin-left:0px;
}

.participation, .benefits {

    background-image:  url(http://www.csszengarden.com/214/bamboo.png);
    background-attachment: fixed;
    background-color: rgba(22, 97, 25, 0.6);
padding-top: 20px;
  padding-right: 30%;
  padding-left: 10%;
padding-bottom: 20px;

}

.benefits h3{
  margin-top: 0px;
  padding-top: 20px;
}


.supporting .requirements {

  clear: both;
  width: 100%;

}

.requirements p {
  float:left;
  clear: both;
  width: 70%;
  padding-left: 10%;
  margin-bottom: 20px;
}

.requirements h3 {
  padding-left: 10%;
}


.sidebar {

  width: 25%;
  float: right;
  padding-left: 10px;
  background: #e2e2e2;
position: absolute;
top: 0px;
right: 0px;
bottom: 250px;


opacity: 0.3;
}
.sidebar ul {
  list-style: none;
  overflow: hidden;
}

.design-selection ul  {
  margin-top:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
justify-content: center;
font-weight: bolder;
}

.design-selection ul  li{
  margin-top: 32px;
  padding-bottom: 9px;
  border-bottom: 1px solid grey;
}

.design-selection ul  li a {
  color: grey;
  text-decoration:none;
  text-transform:uppercase;
}

.designer-name  a {
  text-transform: normal;
}



.design-selection ul  li a:nth-child(3n) {
  color: black;
}

.zen-resources ul {
margin-top:90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
justify-content: center;
}

.zen-resources ul  li {
  width: 80%;
  margin-top: 35px;
  padding-bottom: 9px;
  border-bottom: 1px solid grey;
  text-align: left;
}


.zen-resources ul  li a {
  color: grey;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 18px;
  margin-top:
}



.lastbanner {

  display: flex;
  align-items: center;
  justify-content:center;
  background-image: url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/huntington.jpg);
        background-size: 50% auto, auto, auto, cover;
        height: 150px;
        text-align: center;
        width: 100%;


}
.lastbanner p {
  color: rgba(255, 255, 255, 0.4);
  font-size:24px;
  text-align: center;
}

.lastbanner p {
  font-style:italic;
line-height: 50px;
}

.lastbanner a {
  color: #fff;
  font-weight: 100px;
font-style: normal;
}

.circle {
  width: 60px;
  height: 60px;
padding:13px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid white;
}



.fa-ul i {
  color: white;
  text-align: center;
}
footer {
  background: #00443e;
  height:100px;
  clear: both;
  overflow: hidden;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content:center;
}

footer ul li {
  margin-right: 50px;
  margin-top: 20px;
}

@media screen and (max-width: 320px) {

p {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 32px;
}


  .supporting, section {
    width: 100%;
    float: left;

  }

  .sidebar {
    width: 100%;
    float: left;
    position:initial;
  }


header {

  height: 150px;
  padding-left: 60px;
  padding-top: 40px;

}
header h1 {
  font-size: 32px;
  margin-left: 28px;
  margin-top: -60px;

}

header h2 {
  font-size: 24px;
  margin-left: 30px;
}
header img {
  width: 60px;
  height: 60px;
margin-left: -40px;
padding-left: 0px;
}


.lastbanner {
        height: 200px;
}
.lastbanner p {
  font-size:24px;
line-height: 40px;
}

.circle {
  width: 50px;
  height: 50px;
padding:10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid white;
}


.fa-ul i {
  color: white;
  text-align: center;
  font-size: 1.9em;
  margin-left: -10px;
}
footer ul li {
  margin-right: 15px;
  margin-top: 20px;
}

.summary, .preamble, .explanation {
  width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.participation, .benefits  {
  width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.requirements p {
width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.requirements h3 {
  padding-left: 5%;
}

.zen-resources ul  li a {
  font-size: 24px;
}

.design-selection ul  li a {
  font-size: 24px;
}

.designer-name a {
  font-size: 24px;
}

.viewdesign {
  font-size: 24px;
  text-align: center;
}

.viewdesign:hover {
  background: black;
  color: white;
}
.viewarrow {
 display: none;
}
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
p {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 32px;
}


  .supporting, section {
    width: 100%;
    float: left;

  }

  .sidebar {
    width: 100%;
    float: left;
    position:initial;
  }


header {

  height: 200px;
  padding-left: 60px;
  padding-top: 40px;

}
header h1 {
  font-size: 48px;
  margin-left: 70px;
  margin-top: -100px;

}

header h2 {
  font-size: 24px;
  margin-left: 70px;
}
header img {
  width: 100px;
  height: 100px;
margin-left: -40px;
padding-left: 0px;
}


.lastbanner {
        height: 200px;
}
.lastbanner p {
  font-size:24px;
line-height: 40px;
}

.circle {
  width: 50px;
  height: 50px;
padding:10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid white;
}


.fa-ul i {
  color: white;
  text-align: center;
  font-size: 1.9em;
  margin-left: -10px;
}
footer ul li {
  margin-right: 15px;
  margin-top: 20px;
}

.summary, .preamble, .explanation {
  width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.participation, .benefits  {
  width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.requirements p {
width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.requirements h3 {
  padding-left: 5%;
}

.zen-resources ul  li a {
  font-size: 24px;
}

.design-selection ul  li a {
  font-size: 24px;
}

.designer-name a {
  font-size: 24px;
}

.viewdesign {
  font-size: 24px;
  text-align: center;
}

.viewdesign:hover {
  background: black;
  color: white;
}
.viewarrow {
 display: none;
}
}





