@import "breakpoint";
$max-width:screen max-width 1024px;
/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  display:block;
}
html,body {
  height:100%;
}

%background-property
{
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  opacity:0.7;
  position:relative;
  @include breakpoint($max-width) {

  background-attachment:scroll;
  }
}

@each $bg in (
  bg1 100vh,
  bg2 40vh,
  bg3 40vh) {
  .#{nth($bg,1)} {
    background-image:url('../images/#{nth($bg,1)}.jpg');
    @extend %background-property;
    height:#{nth($bg,2)};
    span {
      @if nth($bg,1)==bg1 {
        background:#111;
      }
    }
  }
}
.middle-text {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
    span {
    padding:18px;
    font-size:24px;
    letter-spacing:10px;
    color:#fff;
    @include breakpoint($max-width) {
    font-size:32px;
    padding:20px;
    }
    }
    }

$padding:50px 80px;

.info {
  padding:$padding;
  color:#777;
  text-align:justify;
  line-height:30px;
  h1 {
    color:#111;
    font-size:24px;
    text-align:center;
    letter-spacing:5px;
    padding:10px 0px;
  }
}

.banner-text {
  padding:$padding;
  color:#ddd;
  background:#282E34;
  text-align:justify;
}
